.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 10; 
    background-color: #121212; 
    color: white;
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .logo {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-right:60px;
    margin-left:20px;
    cursor: pointer;
  }
  
  .logo span{
    font-size: 35px;
    color:#FF5500;
    font-variant: small-caps;
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-left: 100px;
    padding:10px;
  }
  
  .search-input {
    background-color: rgb(65, 65, 65);
    color:white;
    font-weight: 500;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    font-size: 1rem;
  }
  
  .search-button{
    background-color: transparent;
    border: 0px;
    color:white;
  }
  
  .fi {
    margin-left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    /* Adjust Header */
    .header {
        flex-direction: column;
        align-items: stretch;
        padding: 15px 10px;
    }
    /* Adjust Logo */
    .logo {
        font-size: 1.2rem;
        margin: 0 auto 10px auto; /* Center logo */
    }
    /* Adjust Search Container */
    .search-container {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        align-items: stretch;
    }
    .search-input {
        width: 100%; /* Take most of the screen width */
        margin: 0 auto; /* Center search input */
    }
    .search-button {
        margin: 10px auto 0 auto; /* Center the button below the input */
    }
}
@media (max-width: 480px) {
    .header{
      position: relative;
      height: fit-content; /* Increase height for touch interactions */
      flex-direction: column; /* Stack elements vertically */
    }
    /* Further adjust for very small screens */
    .logo {
        font-size: 1rem; /* Smaller logo font */
    }
    .search-input {
        width: 100%;
        padding: 2px; /* Slightly smaller padding */
        font-size: 0.9rem; /* Adjust font size */
    }
    .fi {
        font-size: 1.2rem; /* Smaller search icon */
    }
    .search-button {
      display: none;
      margin: 10px auto 0 auto; /* Center the button below the input */
  }
}