.favorites-page::first-letter,.home-page::first-letter{
    color: #FF5500;
    font-size: 40px;
}

.favorites-page,.home-page{
    text-align: center;
    color:#ccc;
}

.list-card {
    display: grid;
    grid-template-columns: 50px 1fr 1.5fr 2fr 1.3fr auto; /* Defines columns for image and text */
    align-items: center; /* Vertically aligns items */
    margin: 0 30px;
    margin:0px;
    border-radius: 4px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc; 
    background-color: #121212;
    color:#FF5500;
    padding:5px 20px;
    transition: transform 0.6s ease;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.005em;
    word-spacing: 0.05em;
    font-style: italic;
    cursor:default;
  }

  .list-card span{
    font-weight: bold;
    color: #d04702;
  }

  h3:nth-of-type(3){
      font-size: 15px;
      line-height: 1.5vh;
      font-weight: bold;
      color:#622100;
      transition: color 3s;
  }

  h3:nth-of-type(2){
    font-size: 15px;
    color:#843209;
    transition: color 2s;
  }

  h3:nth-of-type(1){
    font-style: italic;
    font-weight: 500;
    color: #a23f0e;
    transition: color 1s;
  }

  h3:nth-of-type(4){
    font-weight: 300;
    font-size: 14px;
    color:#622100;
    transition: color 3s;
}

  .list-card img {
    object-fit: cover; 
  }

  .image-container{
    padding:0px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .image-container img{
    transition: opacity 0.5s ease; 
  }
  
  .list-card:hover .play-icon-small{
    opacity:1;
  }
  
  .list-card:hover .image-container img{
    opacity: 0.6;
  }

  .list-card:hover h3{
    transform:scale(1.01);
    color: #FF5500;
  }

  .list-card:hover{
    transform:scale(1.02)
  }
  
  .play-icon-small{
    color:#FF5500;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
    padding-top:5px;
    width:fit-content;
    height: fit-content;
    position: absolute; /* Overlay on top of the card */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
    cursor: pointer;
  }

  @media (max-width: 480px) {
    .list-card{
      gap:15px;
      overflow: hidden;
    }
    
    .list-card h3{
      font-size: 0.8rem;
      align-items: center;
      justify-content: start;
      max-width: 100%;
      text-wrap: nowrap;
    }
    h3:nth-of-type(n+3){
      display: none;
    }
  }

  @media (max-width: 768px) {
    .list-card{
      gap:15px;
    }
    
    .list-card h3{
      font-size: 0.8rem;
      align-items: center;
      justify-content: start;
      max-width: 100%;
      text-wrap: nowrap;
    }
    h3:nth-of-type(n+2){
      display: none;
    }
  }