
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: green;
  color: white;
  height: 15vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
  padding:10px;
}

.search-input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.fi {
  margin-left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.preview-page {
  padding: 20px;
  background-color: #f3f3f3;
  overflow-y: auto;
  width:100%;
  max-height: 75vh;
}

.track-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.track-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.play-icon{
  display: flex;
  text-align: center;
  justify-content: center;
  display:none;
}

.track-card:hover .play-icon{
  display: block;
}

.navbar {
  background-color: blue;
  flex-direction: column;
  height: 75vh;
  display: flex;
}

main {
  background-color: purple;
  flex-direction: row;
  display: flex;
}

.tracker {
  background-color: aqua;
  height: 10%;
  display: flex;
  align-items: center;
}

i{
  color:red;
}

.current-track{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin:10px;
  width:40%;
}

.play-con{
  background-color: red;
  height:100%;
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playback-control {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: yellow;
}

.navbar-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:5px;
  padding-right:15px;
  background-color: transparent;
  border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  nav {
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  main {
    flex-direction: column;
  }

  .tracker {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 0.8rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 0.5rem;
  }

  .tracker {
    padding: 0.5rem;
    height: auto;
  }
}
